
body {
  background-color: gray;
}

#wrapper{
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}

#content {
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);

  width:580px;
  max-width: 94%;
  position: relative;
  z-index: 10;

  background-color: #000;
  background-color: rgba(0,0,0, 0.85);
  box-shadow: 3px 3px 3px #111;

  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  color: #AAA;
  font-family: 'PT Mono', sans-serif;
  font-size: 15px;
  max-width: 560px;
  padding-left: 40px;
  padding-right: 25px;
  line-height: 150%;
}

/*#bg{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

#bg img{
  width: 1024px;
  height: 600px;
}*/

h1 {
  color: #CCC;
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'PT Mono', sans-serif;
  font-size: 20px;
}


h2 {
  color: #AAA;
  margin-left: 25px;
  font-family: 'PT Mono', sans-serif;
  font-size: 16px;
}

ul {
  padding: 0 25px 0 40px;
}

ul li {
  color: #AAA;
  font-family: 'PT Mono', sans-serif;
  font-size: 15px;
  list-style-type: none;
  list-style-position: outside;
  max-width: 560px;
  line-height: 150%;
}

ul li .dates {
  color: #666;
}